USE [master]
GO
/****** Object:  Database [Despensa]    Script Date: 29/08/2018 18:26:20 ******/
CREATE DATABASE [Despensa]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Despensa', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Despensa.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Despensa_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Despensa_1.ldf' , SIZE = 13632KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Despensa].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Despensa]
GO
USE [Despensa]
GO
/****** Object:  User [conexion]    Script Date: 29/08/2018 18:26:20 ******/
CREATE USER [conexion] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[db_accessadmin]
GO
/****** Object:  User [CJ]    Script Date: 29/08/2018 18:26:20 ******/
CREATE USER [CJ] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[db_accessadmin]
GO
/****** Object:  User [Basico]    Script Date: 29/08/2018 18:26:20 ******/
CREATE USER [Basico] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[db_datareader]
GO
/****** Object:  User [Administrador]    Script Date: 29/08/2018 18:26:20 ******/
CREATE USER [Administrador] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[db_accessadmin]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [Administrador]
GO
/****** Object:  Table [dbo].[Producto]    Script Date: 29/08/2018 18:26:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producto](
	[Cod_Producto] [nchar](13) NOT NULL,
	[Nombre_Producto] [nchar](20) NULL,
	[Stock] [decimal](18, 2) NULL,
	[Precio_unitario] [decimal](18, 2) NULL,
	[SPrecio_unitario] [decimal](18, 2) NULL,
	[Cood_Proveedor] [int] NULL,
	[imagen] [image] NULL,
	[Limite] [decimal](18, 2) NULL,
 CONSTRAINT [PK_Producto] PRIMARY KEY CLUSTERED 
(
	[Cod_Producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Detalle_Ganancia]    Script Date: 29/08/2018 18:26:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Detalle_Ganancia](
	[Id_Ganancias] [int] IDENTITY(1,1) NOT NULL,
	[Cod_Producto] [nchar](13) NULL,
	[Cantidad] [decimal](18, 2) NULL,
	[CantidadDescontada] [decimal](18, 2) NULL,
	[Precio_Compra] [decimal](18, 2) NULL,
	[Ganancia_Total] [decimal](18, 2) NULL,
	[PrecioUnitario_compra]  AS ([Precio_Compra]/[Cantidad]),
	[Precio1_Venta] [decimal](18, 2) NULL,
	[GananciaTotal1]  AS ([Precio1_Venta]*[Cantidad]-[Precio_Compra]),
	[GananciaTotal2]  AS ([Precio2_Venta]*[Cantidad]-[Precio_Compra]),
	[Precio2_Venta] [decimal](18, 2) NULL,
	[Fecha_Compra] [date] NULL,
 CONSTRAINT [PK_Detalle_Ganancia] PRIMARY KEY CLUSTERED 
(
	[Id_Ganancias] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Detalle_venta]    Script Date: 29/08/2018 18:26:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Detalle_venta](
	[Cood_Producto] [nchar](13) NULL,
	[Cood_Venta] [int] NULL,
	[Cantidad] [decimal](18, 2) NULL,
	[Total] [decimal](18, 2) NULL,
	[Id_ganancias] [int] NULL,
	[Ganancia] [decimal](18, 2) NULL,
	[Precio_Unitario] [decimal](18, 2) NULL
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[View_1]    Script Date: 29/08/2018 18:26:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[View_1]
AS
SELECT     dbo.Producto.Cod_Producto, dbo.Producto.Nombre_Producto, dbo.Producto.Stock, dbo.Detalle_venta.Cantidad, dbo.Detalle_Ganancia.Ganancia_Total
FROM         dbo.Producto INNER JOIN
                      dbo.Detalle_venta ON dbo.Producto.Cod_Producto = dbo.Detalle_venta.Cood_Producto INNER JOIN
                      dbo.Detalle_Ganancia ON dbo.Producto.Cod_Producto = dbo.Detalle_Ganancia.Cod_Producto
GO
/****** Object:  Table [dbo].[Caja]    Script Date: 29/08/2018 18:26:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Caja](
	[Fecha] [date] NOT NULL,
	[Inicial] [decimal](18, 2) NULL,
	[Ingreso] [decimal](18, 2) NULL,
	[Cod_Caja] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Caja] PRIMARY KEY CLUSTERED 
(
	[Fecha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 29/08/2018 18:26:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[Cod_Cliente] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nchar](20) NULL,
	[Apellido] [nchar](20) NULL,
	[Direccion] [nchar](50) NULL,
	[Telefono] [nchar](11) NULL,
	[Celular] [nchar](10) NULL,
	[Cliente] [nchar](30) NULL,
	[Ruc] [nchar](11) NULL,
	[Dni] [nchar](8) NULL,
	[Correo] [nchar](30) NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[Cod_Cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Compra]    Script Date: 29/08/2018 18:26:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Compra](
	[Cod_compra] [int] IDENTITY(1,1) NOT NULL,
	[Cood_proveedor] [int] NULL,
	[Fecha_compra] [date] NULL,
	[Total_a_pagar] [decimal](18, 2) NULL,
 CONSTRAINT [PK_Compra] PRIMARY KEY CLUSTERED 
(
	[Cod_compra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Detalle_Compra]    Script Date: 29/08/2018 18:26:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Detalle_Compra](
	[Cood_Producto] [nchar](13) NULL,
	[Cood_Compra] [int] NULL,
	[Precio_compra] [decimal](18, 2) NULL,
	[Cantidad] [decimal](18, 2) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fondo]    Script Date: 29/08/2018 18:26:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fondo](
	[Id_Fondo] [int] NULL,
	[Fondo] [decimal](18, 2) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proveedor]    Script Date: 29/08/2018 18:26:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedor](
	[Cod_Proveedor] [int] IDENTITY(1,1) NOT NULL,
	[Nombre_Proveedor] [nchar](30) NULL,
	[Direccion] [nchar](50) NULL,
	[Telefono] [nchar](11) NULL,
	[Correo] [nchar](30) NULL,
 CONSTRAINT [PK_Proveedor] PRIMARY KEY CLUSTERED 
(
	[Cod_Proveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stock]    Script Date: 29/08/2018 18:26:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stock](
	[Id_stock] [int] NOT NULL,
	[Cood_Producto] [nchar](13) NOT NULL,
	[Nombre_Producto] [nchar](20) NULL,
	[Ctdad] [int] NOT NULL,
	[Tipo] [nchar](1) NOT NULL,
	[Documento] [nchar](15) NULL,
	[Fecha] [date] NOT NULL,
	[Cood_Proveedor] [int] NOT NULL,
 CONSTRAINT [PK_Stock] PRIMARY KEY CLUSTERED 
(
	[Id_stock] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 29/08/2018 18:26:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[idUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Apellidos] [varchar](50) NULL,
	[DNI] [varchar](8) NULL,
	[Direccion] [varchar](50) NULL,
	[Telefono] [nchar](10) NULL,
	[Login] [varchar](50) NULL,
	[Password] [varchar](50) NULL,
	[Acceso] [varchar](1) NULL,
	[Categoria] [varchar](1) NULL,
	[imagen] [image] NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[idUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Venta]    Script Date: 29/08/2018 18:26:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Venta](
	[Cod_Venta] [int] IDENTITY(1,1) NOT NULL,
	[Cood_Cliente] [int] NULL,
	[Fecha_Venta] [date] NULL,
	[Total_a_pagar] [decimal](18, 2) NULL,
	[Estado] [nchar](1) NULL,
	[Pagando] [decimal](18, 2) NULL,
	[Sobra]  AS ([Total_a_pagar]-[Pagando]),
	[Vuelto] [decimal](18, 2) NULL,
 CONSTRAINT [PK_Venta] PRIMARY KEY CLUSTERED 
(
	[Cod_Venta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Compra]  WITH NOCHECK ADD  CONSTRAINT [FK_Compra_Proveedor] FOREIGN KEY([Cood_proveedor])
REFERENCES [dbo].[Proveedor] ([Cod_Proveedor])
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[Compra] NOCHECK CONSTRAINT [FK_Compra_Proveedor]
GO
ALTER TABLE [dbo].[Detalle_Compra]  WITH NOCHECK ADD  CONSTRAINT [FK_Detalle_Compra_Compra] FOREIGN KEY([Cood_Compra])
REFERENCES [dbo].[Compra] ([Cod_compra])
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[Detalle_Compra] NOCHECK CONSTRAINT [FK_Detalle_Compra_Compra]
GO
ALTER TABLE [dbo].[Detalle_Compra]  WITH NOCHECK ADD  CONSTRAINT [FK_Detalle_Compra_Producto] FOREIGN KEY([Cood_Producto])
REFERENCES [dbo].[Producto] ([Cod_Producto])
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[Detalle_Compra] NOCHECK CONSTRAINT [FK_Detalle_Compra_Producto]
GO
ALTER TABLE [dbo].[Detalle_Ganancia]  WITH NOCHECK ADD  CONSTRAINT [FK_Detalle_Ganancia_Producto] FOREIGN KEY([Cod_Producto])
REFERENCES [dbo].[Producto] ([Cod_Producto])
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[Detalle_Ganancia] NOCHECK CONSTRAINT [FK_Detalle_Ganancia_Producto]
GO
ALTER TABLE [dbo].[Detalle_venta]  WITH NOCHECK ADD  CONSTRAINT [FK_Detalle_venta_Producto] FOREIGN KEY([Cood_Producto])
REFERENCES [dbo].[Producto] ([Cod_Producto])
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[Detalle_venta] NOCHECK CONSTRAINT [FK_Detalle_venta_Producto]
GO
ALTER TABLE [dbo].[Detalle_venta]  WITH NOCHECK ADD  CONSTRAINT [FK_Detalle_venta_Venta] FOREIGN KEY([Cood_Venta])
REFERENCES [dbo].[Venta] ([Cod_Venta])
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[Detalle_venta] NOCHECK CONSTRAINT [FK_Detalle_venta_Venta]
GO
ALTER TABLE [dbo].[Stock]  WITH CHECK ADD  CONSTRAINT [FK_Stock_Producto] FOREIGN KEY([Cood_Producto])
REFERENCES [dbo].[Producto] ([Cod_Producto])
GO
ALTER TABLE [dbo].[Stock] CHECK CONSTRAINT [FK_Stock_Producto]
GO
ALTER TABLE [dbo].[Venta]  WITH NOCHECK ADD  CONSTRAINT [FK_Venta_Cliente] FOREIGN KEY([Cood_Cliente])
REFERENCES [dbo].[Cliente] ([Cod_Cliente])
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[Venta] NOCHECK CONSTRAINT [FK_Venta_Cliente]
GO
/****** Object:  StoredProcedure [dbo].[actualizar_Fondo]    Script Date: 29/08/2018 18:26:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[actualizar_Fondo]
@fondo decimal(18,2)
as
update fondo set Fondo = @fondo
where id_fondo = 1
GO
/****** Object:  StoredProcedure [dbo].[Actualizar_Pagando]    Script Date: 29/08/2018 18:26:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Actualizar_Pagando]
@Pagando decimal(18,3),
@Cood_Cliente int
as

declare @Sobra decimal(18,3)
declare @Sobra2 decimal(18,3)
DECLARE @Cod_Venta int
declare @pagando2 decimal(18,3)
declare @calculo decimal(18,3)
declare @calculo2 decimal(18,3)
declare @contar int
set @Cod_Venta = (Select MIN(Cod_Venta) from Venta where Estado = 1 and Sobra > 0 and Cood_Cliente=@Cood_Cliente)
set @Sobra = (SELECT Sobra from Venta where Cod_Venta = @Cod_Venta)
set @pagando2 = (SELECT pagando from Venta where Cod_Venta = @Cod_Venta)
set @Sobra2 = (SELECT SUM(Sobra) from Venta where Cood_Cliente=@Cood_Cliente AND Estado = '1' and Sobra > 0)
set @contar = (SELECT COUNT(*) from Venta where Cood_Cliente=@Cood_Cliente AND Estado = '1' and Sobra > 0)
if @Pagando > @Sobra2
begin
set @calculo2 = @Pagando - @Sobra2

end
else
begin
set @pagando = @pagando
end

if @pagando> @Sobra2
begin
WHILE @SOBRA2 <> 0
begin
set @Cod_Venta = (Select MIN(Cod_Venta) from Venta where Estado = 1 and Sobra > 0 and Cood_Cliente=@Cood_Cliente)
set @Sobra = (SELECT Sobra from Venta where Cod_Venta = @Cod_Venta)
update Venta set Pagando +=@sobra, vuelto = @calculo2 where Cood_Cliente = @Cood_Cliente and Cod_Venta = @Cod_Venta
declare @Cod_Max int 
-- Aca actualizo mi caja
set @Cod_Max = (SELECT Max(Cod_Caja) FROM Caja)
update Caja set Ingreso = Ingreso + @sobra where Cod_Caja = @Cod_Max
--
set @Sobra2 = (SELECT SUM(Sobra) from Venta where Cood_Cliente=@Cood_Cliente AND Estado = '1' and Sobra > 0)
end
end
else if @Pagando <= @Sobra2
begin
set @Cod_Venta = (Select MIN(Cod_Venta) from Venta where Estado = 1 and Sobra > 0 and Cood_Cliente=@Cood_Cliente)
set @Sobra = (SELECT Sobra from Venta where Cod_Venta = @Cod_Venta)
if @pagando <= @Sobra
begin
update Venta set Pagando += @pagando, vuelto = @calculo2 where Cood_Cliente = @Cood_Cliente and Cod_Venta = @Cod_Venta
-- Aca actualizo mi caja
set @Cod_Max = (SELECT Max(Cod_Caja) FROM Caja)
update Caja set Ingreso = Ingreso + @Pagando where Cod_Caja = @Cod_Max
--
end
else if @Pagando > @Sobra
begin
WHILE @Pagando <> 0
begin
set @Cod_Venta = (Select MIN(Cod_Venta) from Venta where Estado = 1 and Sobra > 0 and Cood_Cliente=@Cood_Cliente)
set @Sobra = (SELECT Sobra from Venta where Cod_Venta = @Cod_Venta)
if @Sobra <= @Pagando
begin
set @Pagando -= @Sobra
update Venta set Pagando += @Sobra, vuelto = @calculo2 where Cood_Cliente = @Cood_Cliente and Cod_Venta = @Cod_Venta
-- Aca actualizo mi caja
set @Cod_Max = (SELECT Max(Cod_Caja) FROM Caja)
update Caja set Ingreso = Ingreso + @sobra where Cod_Caja = @Cod_Max
--
end
else if @Sobra > @Pagando
begin
update Venta set Pagando += @Pagando, vuelto = @calculo2 where Cood_Cliente = @Cood_Cliente and Cod_Venta = @Cod_Venta
-- Aca actualizo mi caja
set @Cod_Max = (SELECT Max(Cod_Caja) FROM Caja)
update Caja set Ingreso = Ingreso + @Pagando where Cod_Caja = @Cod_Max
--
set @Pagando = 0

end
end
end
end


--if @Sobra2 >= @Sobra and @contar <= 2
--begin
--set @calculo = @sobra2-@Sobra
--update Venta set Pagando +=@sobra, vuelto = @calculo2 where Cood_Cliente = @Cood_Cliente and Cod_Venta = @Cod_Venta
--set @Cod_Venta = (Select MIN(Cod_Venta) from Venta where Estado = 1 and Sobra > 0 and Cood_Cliente=@Cood_Cliente)
--set @Sobra = (SELECT Sobra from Venta where Cod_Venta = @Cod_Venta)
--update Venta set Pagando +=@sobra, vuelto = @calculo2 where Cood_Cliente = @Cood_Cliente and Cod_Venta = @Cod_Venta
--end
--else if @Sobra2 < @Sobra
--begin
--set @calculo = @Sobra - @sobra2
--update Venta set Pagando +=@sobra2, vuelto = @calculo2 where Cood_Cliente = @Cood_Cliente and Cod_Venta = @Cod_Venta
--set @Cod_Venta = (Select MIN(Cod_Venta) from Venta where Estado = 1 and Sobra > 0 and Cood_Cliente=@Cood_Cliente)
--set @Sobra = (SELECT Sobra from Venta where Cod_Venta = @Cod_Venta)
--update Venta set Pagando +=@sobra2, vuelto = @calculo2 where Cood_Cliente = @Cood_Cliente and Cod_Venta = @Cod_Venta
--end


--if @Sobra2 >= @Sobra and @contar>2 and @Pagando >@Sobra2
--begin
--while @Sobra2 <>0
--begin
--set @Cod_Venta = (Select MIN(Cod_Venta) from Venta where Estado = 1 and Sobra > 0 and Cood_Cliente=@Cood_Cliente)
--set @Sobra = (SELECT Sobra from Venta where Cod_Venta = @Cod_Venta)
--update Venta set Pagando +=@sobra, vuelto = @calculo2 where Cood_Cliente = @Cood_Cliente and Cod_Venta = @Cod_Venta
--set @Sobra2 = (SELECT SUM(Sobra) from Venta where Cood_Cliente=@Cood_Cliente AND Estado = '1' and Sobra > 0)
--end
--end
--else if @Sobra2 < @Sobra  
--begin
--while @Sobra2 <>0
--begin
--set @Cod_Venta = (Select MIN(Cod_Venta) from Venta where Estado = 1 and Sobra > 0 and Cood_Cliente=@Cood_Cliente)
--set @Sobra = (SELECT Sobra from Venta where Cod_Venta = @Cod_Venta)
--update Venta set Pagando +=@sobra2, vuelto = @calculo2 where Cood_Cliente = @Cood_Cliente and Cod_Venta = @Cod_Venta

--end
--end
GO
/****** Object:  StoredProcedure [dbo].[actualizar_total]    Script Date: 29/08/2018 18:26:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[actualizar_total]
@Cod_compra int,
@Total_a_pagar decimal(18,2)
as
if @Total_a_pagar <> 0
update Compra set Total_a_pagar = @Total_a_pagar
where Cod_compra = @Cod_compra
else 
begin
delete 
from Compra
where Cod_compra = @Cod_compra
end
GO
/****** Object:  StoredProcedure [dbo].[actualizar_totalVenta]    Script Date: 29/08/2018 18:26:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[actualizar_totalVenta]
@Cod_venta int,
@Total_a_pagar decimal(18,2)

as
if @Total_a_pagar <> 0
update Venta set Total_a_pagar = @Total_a_pagar
where Cod_venta = @Cod_venta
else 
begin
delete 
from Venta
where Cod_Venta = @Cod_venta
end
-- Aca declare la variable Cod_Max para agregar sumar los ingresos al max codigo de la tabla caja
declare @Estado nchar(1)
set @Estado = (SELECT Estado from Venta where Cod_Venta = @Cod_venta)

if @Estado = '0'
begin
declare @Cod_Max int 
set @Cod_Max = (SELECT Max(Cod_Caja) FROM Caja)
update Caja set Ingreso = Ingreso + @Total_a_pagar
where Cod_Caja = @Cod_Max
end
GO
/****** Object:  StoredProcedure [dbo].[aumentar_ganancia]    Script Date: 29/08/2018 18:26:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[aumentar_ganancia]
@Cod_Producto as nchar(13),
@Cantidad decimal(18,3),
@Precio decimal(18,3)
as
declare @id int
set @id = (select min(id_ganancias) from Detalle_Ganancia WHERE Cantidaddescontada > 0 and Cod_Producto = @Cod_Producto)
if (SELECT PRECIO1_venta FROM Detalle_Ganancia WHERE Cod_Producto = @Cod_Producto and Id_Ganancias= @id) = @precio
begin
if (select cantidaddescontada from Detalle_Ganancia where Cod_Producto = @Cod_Producto and Id_Ganancias= @id) > 0
begin
update Detalle_Ganancia set Ganancia_total =  Ganancia_Total + (GananciaTotal1/Cantidad) * @Cantidad, Cantidaddescontada -= @cantidad
where Id_Ganancias = @id
end
end

if (SELECT PRECIO2_venta FROM Detalle_Ganancia WHERE Cod_Producto = @Cod_Producto and Id_Ganancias= @id) = @Precio
begin
if (select cantidaddescontada from Detalle_Ganancia where Cod_Producto = @Cod_Producto and Id_Ganancias= @id) > 0
begin
update Detalle_Ganancia set Ganancia_total =  Ganancia_Total + (GananciaTotal2/Cantidad) * @Cantidad, Cantidaddescontada -= @cantidad
where Id_Ganancias = @id
end
end
GO
/****** Object:  StoredProcedure [dbo].[aumentar_stock]    Script Date: 29/08/2018 18:26:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[aumentar_stock]
@Cod_Producto nchar(13),
@cantidad decimal(18,2)
as
update producto set stock+=@cantidad
where Cod_Producto = @Cod_producto
GO
/****** Object:  StoredProcedure [dbo].[backup_base]    Script Date: 29/08/2018 18:26:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[backup_base]
as 
BACKUP DATABASE [Despensa]
TO DISK =N'D:\optimum\optimum\BKP\Despensa.BAK'
with description = N'Respaldo de la base de datos del Sistema de Ventas',
NOFORMAT,
INIT,
NAME=N'Despensa',
SKIP,
NOREWIND,
NOUNLOAD,
STATS=10,
CHECKSUM
GO
/****** Object:  StoredProcedure [dbo].[Cambiar_Contraseña]    Script Date: 29/08/2018 18:26:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Cambiar_Contraseña]
@login varchar(50),
@Password varchar(50),
@NuevoPassword varchar(50)
as
update Usuario set Password = @NuevoPassword
where Login = @login and Password = @Password
GO
/****** Object:  StoredProcedure [dbo].[disminuir_stock]    Script Date: 29/08/2018 18:26:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[disminuir_stock]
@Cod_Producto nchar(13),
@cantidad decimal(18,2)
as
update producto set Stock -= @cantidad
where Cod_Producto = @Cod_producto
GO
/****** Object:  StoredProcedure [dbo].[editar_cliente]    Script Date: 29/08/2018 18:26:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[editar_cliente]
@cod_cliente integer,
@cliente nchar(30),
@ruc nchar(11),
@nombre nchar(20),
@apellido nchar(20),
@dni nchar(8),
@direccion nchar(50),
@Telefono nchar(11),
@Celular nchar(11),
@correo nchar(30)
as 
update cliente set cliente = @cliente, ruc = @ruc,nombre= @nombre, apellido = @apellido, dni = @dni, direccion = @direccion, telefono = @telefono, celular = @celular , correo = @correo
where cod_cliente = @cod_cliente
GO
/****** Object:  StoredProcedure [dbo].[Editar_Pagos]    Script Date: 29/08/2018 18:26:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Editar_Pagos]
@Estado nchar(1),
@Cood_Venta int
as
update Venta set Estado = @Estado 
where Cod_Venta = @Cood_Venta
GO
/****** Object:  StoredProcedure [dbo].[editar_producto]    Script Date: 29/08/2018 18:26:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[editar_producto]
@cod_Producto nchar(14),
@nombre_producto nchar (20),
@limite decimal(18,2),
@cantidad decimal (18,2),
@precio_unitario decimal (18,2),
@Sprecio_unitario decimal(18,2),
@Cood_Proveedor int,
@imagen image
as
update producto set cod_Producto=@cod_Producto,Nombre_Producto = @Nombre_Producto,stock=@Cantidad,Limite= @limite, Precio_unitario= @Precio_unitario, Sprecio_Unitario=@Sprecio_Unitario, Cood_Proveedor=@cood_Proveedor, imagen= @imagen
where cod_producto = @cod_Producto

update Detalle_Ganancia set Precio1_Venta =@precio_unitario, Precio2_Venta = @Sprecio_unitario
where Cod_Producto = @cod_Producto and Cantidad > 0
GO
/****** Object:  StoredProcedure [dbo].[editar_Proveedor]    Script Date: 29/08/2018 18:26:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[editar_Proveedor]
@Cod_Proveedor int,
@Nombre_Proveedor nchar(30),
@Direccion nchar(50),
@Telefono nchar(11),
@Correo nchar(30)
as 
update proveedor set Nombre_Proveedor=@nombre_proveedor,Direccion=@Direccion,Telefono=@Telefono, correo = @Correo
where cod_proveedor= @cod_Proveedor
GO
/****** Object:  StoredProcedure [dbo].[editar_usuario]    Script Date: 29/08/2018 18:26:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[editar_usuario]
@nombre varchar(50),
@apellidos varchar(50),
@DNI varchar(8),
@Direccion varchar(50),
@Telefono nchar(10),
@Login varchar(50),
@Acceso varchar(1),
@Categoria varchar(1),
@imagen image
as
update Usuario set Nombre= @nombre, Apellidos = @apellidos, DNI = @DNI, Direccion = @Direccion, Telefono = @Telefono, Login = @Login,
 Acceso = @Acceso, Categoria = @Categoria, imagen = @imagen where Login = @Login
GO
/****** Object:  StoredProcedure [dbo].[eliminar_cliente]    Script Date: 29/08/2018 18:26:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[eliminar_cliente]
@cod_cliente integer
as 
delete from cliente where cod_cliente = @cod_cliente
GO
/****** Object:  StoredProcedure [dbo].[Eliminar_DetalleCompra]    Script Date: 29/08/2018 18:26:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Eliminar_DetalleCompra]
@Cood_Producto nchar(13)
as
delete from Detalle_compra where Cood_Producto = @Cood_Producto
GO
/****** Object:  StoredProcedure [dbo].[Eliminar_DetalleGanancia]    Script Date: 29/08/2018 18:26:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Eliminar_DetalleGanancia]
@cod_producto nvarchar(14)
as
declare @id int
set @id= (SELECT MAX(Id_Ganancias) from Detalle_Ganancia where Cod_Producto = @cod_producto)
delete
from Detalle_Ganancia
where Id_Ganancias = @id

GO
/****** Object:  StoredProcedure [dbo].[Eliminar_detalleVenta]    Script Date: 29/08/2018 18:26:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Eliminar_detalleVenta]
@Cood_Producto nchar(13),
@Cood_Venta int
as
declare @cantidadSalvada as decimal(18,3)
declare @gananaciaSalvada as decimal(18,3)
declare @id int
set @id = (SELECT Id_ganancias from Detalle_venta where Cood_Producto = @Cood_Producto and Cood_Venta = @Cood_Venta)
set @cantidadSalvada = (SELECT cantidad from Detalle_venta where Cood_Producto = @Cood_Producto and id_ganancias = @id and Cood_Venta = @Cood_Venta )
set @gananaciaSalvada = (SELECT Ganancia from Detalle_venta where Cood_Producto = @Cood_Producto and Id_ganancias = @id and Cood_Venta = @Cood_Venta ) 
set @id = (SELECT Id_ganancias from Detalle_venta where Cood_Producto = @Cood_Producto and Cood_Venta = @Cood_Venta)

update Detalle_Ganancia set CantidadDescontada+=@cantidadSalvada, Ganancia_Total-=@gananaciaSalvada 
where Id_Ganancias = @id

delete 
from Detalle_venta where Cood_Producto = @Cood_Producto AND Cood_Venta = @Cood_Venta

GO
/****** Object:  StoredProcedure [dbo].[eliminar_Producto]    Script Date: 29/08/2018 18:26:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[eliminar_Producto]
@cod_producto nchar(13)
as 
delete from producto where cod_Producto = @cod_Producto
delete from Detalle_Ganancia where Cod_Producto = @cod_producto
GO
/****** Object:  StoredProcedure [dbo].[eliminar_Proveedor]    Script Date: 29/08/2018 18:26:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[eliminar_Proveedor]
@Cod_Proveedor int
as 
delete from proveedor
where cod_proveedor= @cod_Proveedor
GO
/****** Object:  StoredProcedure [dbo].[insertar]    Script Date: 29/08/2018 18:26:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[insertar]
@cliente varchar(30),
@ruc varchar(11),
@Nombre varchar (20),
@Apellido varchar (20),
@Direccion varchar (50),
@dni varchar(8),
@Telefono varchar (10),
@Celular varchar (10),
@correo varchar (30)
as
insert into cliente (cliente,ruc, nombre, apellido,dni,direccion,telefono,celular,correo) values (@cliente,@ruc,@Nombre,@Apellido,@dni,@Direccion,@Telefono,@Celular,@correo)
GO
/****** Object:  StoredProcedure [dbo].[Insertar_caja]    Script Date: 29/08/2018 18:26:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Insertar_caja]
@inicial decimal(18,2),
@ingreso decimal(18,2)
as
declare @fecha_sistema date
set @fecha_sistema = (SELECT GETDATE())
insert into Caja(Fecha,Inicial,Ingreso) values(@fecha_sistema,@inicial,@ingreso)
GO
/****** Object:  StoredProcedure [dbo].[insertar_compra]    Script Date: 29/08/2018 18:26:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[insertar_compra]
@Cood_proveedor int,
@fecha_compra date,
@Total_a_pagar decimal(18,2)
as
insert into compra (Cood_proveedor, fecha_compra, total_a_pagar) values (@Cood_proveedor, @Fecha_compra, @Total_a_pagar)
GO
/****** Object:  StoredProcedure [dbo].[insertar_detallecompra]    Script Date: 29/08/2018 18:26:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[insertar_detallecompra]
@Cood_Producto nchar(16),
@Cood_compra int,
@Cantidad decimal(18,2),
@Precio_compra decimal(18,2)
as
if exists (SELECT Cood_Compra from Detalle_Compra where Cood_Compra = @Cood_compra and Cood_Producto = @Cood_Producto)
begin
RAISERROR ('YA EXISTE UN PRODUCTO CON ESE CODIGO, POR FAVOR INGRESE DE NUEVO', 16,1)
end
else
begin
insert into detalle_compra (Cood_Producto,Cood_compra, Cantidad, Precio_compra) values (@Cood_Producto, @Cood_compra, @cantidad, @Precio_compra)
end
GO
/****** Object:  StoredProcedure [dbo].[insertar_DetalleGanancias]    Script Date: 29/08/2018 18:26:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[insertar_DetalleGanancias] (
@Cod_Producto nchar(13),
@Cantidad decimal(18,3),
@Ganancia_total decimal (18,3),
@Precio_Compra decimal(18,3),
@Precio1_Venta decimal (18,3),
@Precio2_Venta decimal (18,3)
)
as
declare @fecha_sistema date
set @fecha_sistema = (SELECT GETDATE())
insert into Detalle_Ganancia (Cod_Producto, Cantidad, Ganancia_Total, Precio_Compra, Precio1_Venta, Precio2_Venta,cantidadDescontada, Fecha_Compra)
 values (@cod_Producto, @cantidad, @Ganancia_total, @Precio_compra, @Precio1_Venta, @Precio2_Venta, @cantidad, @fecha_sistema)
GO
/****** Object:  StoredProcedure [dbo].[insertar_detalleVenta]    Script Date: 29/08/2018 18:26:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[insertar_detalleVenta](
@Cood_Producto nchar(13),
@Cood_venta int,
@Cantidad decimal(18,2),
@Total decimal(18,2),
@Precio_Unitario decimal(18,2)
)
as


if exists (SELECT Cood_producto from Detalle_venta where Cood_Venta= @Cood_venta and Cood_Producto = @Cood_Producto)
begin
RAISERROR ('YA EXISTE UN PRODUCTO CON ESE CODIGO, POR FAVOR INGRESE DE NUEVO', 16,1)
end
else 
begin
begin
declare @id int
declare @Ganancia decimal(18,2)
declare @Total_Ganancia decimal(18,2)
declare @Cantidad_Ganancia decimal(18,3)
set @id = (select min(id_ganancias) from Detalle_Ganancia WHERE Cantidaddescontada > 0 and Cod_Producto = @Cood_Producto)
if (select precio1_venta from Detalle_Ganancia where Id_Ganancias = @id) = @Precio_Unitario
begin

set @Total_Ganancia = (SELECT GANANCIATOTAL1 from Detalle_Ganancia where Id_Ganancias = @id)
set @Cantidad_Ganancia = (SELECT CANTIDAD FROM Detalle_Ganancia WHERE Id_Ganancias = @id)
set @Ganancia = (@Total_Ganancia/@Cantidad_Ganancia) * @cantidad
insert into detalle_venta (Cood_Producto,Cood_Venta, Cantidad, Total, Id_ganancias, Ganancia, Precio_Unitario) values (@Cood_Producto, @Cood_venta, @cantidad, @total, @id,@Ganancia, @Precio_Unitario)

end
if (select precio2_venta from Detalle_Ganancia where Id_Ganancias = @id) = @Precio_Unitario
begin

set @Total_Ganancia = (SELECT GANANCIATOTAL2 from Detalle_Ganancia where Id_Ganancias = @id)

set @Cantidad_Ganancia = (SELECT CANTIDAD FROM Detalle_Ganancia WHERE Id_Ganancias = @id)
set @Ganancia = (@Total_Ganancia/@Cantidad_Ganancia) * @cantidad
insert into detalle_venta (Cood_Producto,Cood_Venta, Cantidad, Total, Id_ganancias, Ganancia, Precio_Unitario) values (@Cood_Producto, @Cood_venta, @cantidad, @total, @id,@Ganancia, @Precio_Unitario)

end
end
end
GO
/****** Object:  StoredProcedure [dbo].[insertar_detalleVenta_Variable]    Script Date: 29/08/2018 18:26:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[insertar_detalleVenta_Variable]
@Cood_Producto nchar(13),
@Cood_venta int,
@Cantidad decimal(18,2),
@Total decimal(18,2),
@Precio_Unitario decimal(18,2)
as
declare @DetalleVenta_Variable table (
Cood_Producto nchar(13),
Cood_Venta int,
Cantidad decimal(18,2),
Total decimal(18,3), 
Precio_Unitario decimal(18,2)
)
insert into @DetalleVenta_Variable(Cood_Producto,Cood_Venta, Cantidad, Total, Precio_Unitario) values (@Cood_Producto, @Cood_venta, @cantidad, @total, @Precio_Unitario)
GO
/****** Object:  StoredProcedure [dbo].[insertar_producto]    Script Date: 29/08/2018 18:26:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[insertar_producto]
@cod_Producto nchar(14),
@nombre_producto nchar (20),
@cantidad decimal (18,2),
@precio_unitario decimal (18,2),
@Sprecio_unitario decimal(18,2),
@Cood_Proveedor int,
@imagen image,
@limite decimal(18,2)
as

if EXISTS (SELECT COD_PRODUCTO FROM Producto where Cod_Producto = @cod_Producto )
RAISERROR ('YA EXISTE UN PRODUCTO CON ESE CODIGO, POR FAVOR INGRESE DE NUEVO', 16,1)
else
if @precio_unitario <> @Sprecio_unitario

insert into producto (Cod_producto,Nombre_Producto,Stock,Precio_unitario, Sprecio_Unitario, Cood_Proveedor, imagen, Limite) 
values (@cod_producto,@nombre_producto, @cantidad,  @precio_unitario, @Sprecio_Unitario, @Cood_Proveedor, @imagen, @limite)

else 

RAISERROR ('Los precios no pueden ser iguales',16,1)
GO
/****** Object:  StoredProcedure [dbo].[insertar_Proveedor]    Script Date: 29/08/2018 18:26:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[insertar_Proveedor] 
@Nombre_Proveedor nchar(30),
@Direccion nchar(50),
@Telefono nchar(11),
@Correo nchar(30)
as 
insert into proveedor (Nombre_Proveedor,Direccion,Telefono,correo) values (@nombre_proveedor,@Direccion,@Telefono,@Correo)
GO
/****** Object:  StoredProcedure [dbo].[insertar_usuario]    Script Date: 29/08/2018 18:26:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[insertar_usuario]
@nombre varchar(50),
@apellidos varchar(50),
@DNI varchar(8),
@Direccion varchar(50),
@Telefono nchar(10),
@Login varchar(50),
@Password varchar(50),
@Acceso varchar(1),
@Categoria varchar(1),
@imagen image
as 
if EXISTS (SELECT login FROM usuario where login = @login )
RAISERROR ('YA EXISTE UN USUARIO CON ESE LOGIN, POR FAVOR INGRESE DE NUEVO', 16,1)
else
insert into Usuario (Nombre, Apellidos, DNI, Direccion, Telefono, Login, Password, Acceso, Categoria, imagen) 
values (@nombre, @apellidos, @DNI, @Direccion, @Telefono, @Login, @Password, @Acceso, @Categoria, @imagen)
GO
/****** Object:  StoredProcedure [dbo].[insertar_venta]    Script Date: 29/08/2018 18:26:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[insertar_venta]
@Cood_cliente int,
@Total_a_pagar decimal(18,2)
as 
declare @fecha_sistema date
set @fecha_sistema = (SELECT GETDATE())
insert into venta (Cood_Cliente,Fecha_Venta,Total_a_pagar, Estado, Pagando, Vuelto) 
values (@Cood_cliente, @fecha_sistema, @Total_a_pagar, '0', 0, 0)
GO
/****** Object:  StoredProcedure [dbo].[insertarCliente]    Script Date: 29/08/2018 18:26:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[insertarCliente](
@Nombre nchar(20) ,
@Apellido nchar(20),
@Direccion nchar(50),
@Telefono nchar(11),
@Celular nchar(10)
) 
as 
insert into Cliente (nombre, Apellido, Direccion, Telefono, Celular) values (@nombre,@Apellido,@Direccion,@Telefono,@Celular)
GO
/****** Object:  StoredProcedure [dbo].[mostrar_activo]    Script Date: 29/08/2018 18:26:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[mostrar_activo]
@login varchar(50),
@password varchar(50)
as
select Login, Nombre, Apellidos, imagen,Categoria
from Usuario
where Login = @login and Password = @password
GO
/****** Object:  StoredProcedure [dbo].[Mostrar_Caja]    Script Date: 29/08/2018 18:26:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Mostrar_Caja]
as

declare @Cod_Max int
set @Cod_Max = (SELECT max(Cod_Caja) FROM Caja)

select *
from Caja
where Cod_Caja = @Cod_Max
GO
/****** Object:  StoredProcedure [dbo].[Mostrar_ClienesConCuentas]    Script Date: 29/08/2018 18:26:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Mostrar_ClienesConCuentas]
as
SELECT     dbo.Cliente.Nombre, dbo.Cliente.Apellido, dbo.Venta.Total_a_pagar, dbo.Cliente.Celular, dbo.Venta.Sobra, dbo.Venta.Estado, dbo.Venta.Pagando
FROM         dbo.Venta INNER JOIN
                      dbo.Cliente ON dbo.Venta.Cood_Cliente = dbo.Cliente.Cod_Cliente
                      where Estado = '1'
GO
/****** Object:  StoredProcedure [dbo].[mostrar_cliente]    Script Date: 29/08/2018 18:26:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[mostrar_cliente]
as
select Cod_Cliente,Cliente,Ruc,Nombre,Apellido,Dni,Direccion,Telefono,Celular,Correo
from cliente
GO
/****** Object:  StoredProcedure [dbo].[mostrar_compra]    Script Date: 29/08/2018 18:26:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[mostrar_compra]
as
SELECT     TOP (100)dbo.Compra.Cod_compra, dbo.Proveedor.Nombre_Proveedor, dbo.Compra.Fecha_compra, dbo.Compra.Total_a_pagar
FROM         dbo.Compra INNER JOIN
                      dbo.Proveedor ON dbo.Compra.Cood_proveedor = dbo.Proveedor.Cod_Proveedor
                      order by dbo.Compra.Cod_compra desc
GO
/****** Object:  StoredProcedure [dbo].[mostrar_detallecompra]    Script Date: 29/08/2018 18:26:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[mostrar_detallecompra]
@Cod_compra int
as
SELECT     dbo.Producto.Cod_Producto, dbo.Producto.Nombre_Producto, dbo.Detalle_Compra.Cantidad, dbo.Detalle_Compra.Precio_compra 
FROM         dbo.Compra INNER JOIN
                      dbo.Detalle_Compra ON dbo.Compra.Cod_compra = dbo.Detalle_Compra.Cood_Compra INNER JOIN
                      dbo.Producto ON dbo.Detalle_Compra.Cood_Producto = dbo.Producto.Cod_Producto
                      where dbo.Detalle_compra.Cood_compra = @Cod_compra
                      order by cod_compra desc
GO
/****** Object:  StoredProcedure [dbo].[mostrar_detalleVenta]    Script Date: 29/08/2018 18:26:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[mostrar_detalleVenta]
@Cod_compra int
as
SELECT     dbo.Producto.Cod_Producto, dbo.Producto.Nombre_Producto, dbo.Detalle_Compra.Cantidad, dbo.Detalle_Compra.Precio_compra
FROM         dbo.Compra INNER JOIN
                      dbo.Detalle_Compra ON dbo.Compra.Cod_compra = dbo.Detalle_Compra.Cood_Compra INNER JOIN
                      dbo.Producto ON dbo.Detalle_Compra.Cood_Producto = dbo.Producto.Cod_Producto
                      where dbo.Detalle_compra.Cood_compra = @Cod_compra
                      order by cod_compra desc
GO
/****** Object:  StoredProcedure [dbo].[mostrar_fondo]    Script Date: 29/08/2018 18:26:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[mostrar_fondo]
as
select * from Fondo
GO
/****** Object:  StoredProcedure [dbo].[Mostrar_Pagos]    Script Date: 29/08/2018 18:26:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Mostrar_Pagos]
@Cood_cliente int
as
declare @Total_Debido decimal(18,2)
set @Total_Debido = (SELECT SUM(Sobra) FROM Venta WHERE Estado = '1' AND Cood_Cliente = @Cood_cliente AND Sobra >0)
if @Total_Debido > 0
begin
SELECT     dbo.Venta.Cod_Venta, dbo.Cliente.Nombre,dbo.Detalle_venta.Precio_Unitario, dbo.Venta.Fecha_Venta, dbo.Detalle_venta.Total,dbo.Venta.Total_a_pagar, dbo.Venta.Pagando, dbo.Venta.Sobra, 
                      dbo.Producto.Nombre_Producto, dbo.Detalle_venta.Cantidad, @Total_Debido, dbo.Venta.Vuelto
FROM         dbo.Venta INNER JOIN
                      dbo.Detalle_venta ON dbo.Venta.Cod_Venta = dbo.Detalle_venta.Cood_Venta INNER JOIN
                      dbo.Cliente ON dbo.Venta.Cood_Cliente = dbo.Cliente.Cod_Cliente INNER JOIN
                      dbo.Producto ON dbo.Detalle_venta.Cood_Producto = dbo.Producto.Cod_Producto
                      WHERE dbo.venta.Estado = '1' and Cod_Cliente = @cood_Cliente and Sobra > 0
                      end
                      else
                      begin
                       print('ESTE CLIENTE YA NO POSEE CUENTAS POR PAGAR')
                      end
GO
/****** Object:  StoredProcedure [dbo].[Mostrar_PersonasCuentas]    Script Date: 29/08/2018 18:26:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Mostrar_PersonasCuentas]
as
SELECT     dbo.Cliente.Nombre, dbo.Cliente.Apellido, MIN(dbo.Venta.Fecha_Venta) AS FECHA, SUM(dbo.Venta.Sobra) AS TOTAL_CUENTA
FROM         dbo.Cliente INNER JOIN
                      dbo.Venta ON dbo.Cliente.Cod_Cliente = dbo.Venta.Cood_Cliente
                      where Estado = '1' and Sobra > 0
                      GROUP BY dbo.Cliente.Nombre, dbo.Cliente.Apellido
GO
/****** Object:  StoredProcedure [dbo].[mostrar_productos]    Script Date: 29/08/2018 18:26:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[mostrar_productos]
as 
select Cod_Producto, Nombre_Producto, Stock, Precio_unitario, SPrecio_unitario, Cood_Proveedor,imagen,Limite, b.Nombre_Proveedor
from producto a 
INNER JOIN dbo.Proveedor b
on a.Cood_Proveedor = b.Cod_Proveedor
order by Cod_Producto desc
GO
/****** Object:  StoredProcedure [dbo].[mostrar_Proveedor]    Script Date: 29/08/2018 18:26:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[mostrar_Proveedor]
as
select *
from proveedor
order by Cod_Proveedor desc
GO
/****** Object:  StoredProcedure [dbo].[mostrar_usuario]    Script Date: 29/08/2018 18:26:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[mostrar_usuario]
as 
select * from Usuario order by idUsuario
GO
/****** Object:  StoredProcedure [dbo].[mostrar_venta]    Script Date: 29/08/2018 18:26:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[mostrar_venta]
@Cod_venta nchar(13)
as
SELECT     dbo.Producto.Nombre_Producto, dbo.Producto.Stock, dbo.Detalle_venta.Cood_Venta, dbo.Detalle_venta.Cantidad, dbo.Producto.Cod_Producto, dbo.Producto.Precio_unitario, dbo.Detalle_Venta.Total
FROM         dbo.Detalle_venta INNER JOIN
                      dbo.Producto ON dbo.Detalle_venta.Cood_Producto = dbo.Producto.Cod_Producto
                      where dbo.Detalle_venta.Cood_venta = @Cod_venta
                      order by cood_venta desc
GO
/****** Object:  StoredProcedure [dbo].[mostrar_ventaSimple]    Script Date: 29/08/2018 18:26:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[mostrar_ventaSimple]
as
declare @fecha_sistema date
set @fecha_sistema = (SELECT GETDATE())
SELECT     dbo.Venta.Cod_Venta, dbo.Cliente.Nombre, dbo.Cliente.Apellido, dbo.Venta.Fecha_Venta, dbo.Venta.Total_a_pagar
FROM         dbo.Cliente INNER JOIN
                      dbo.Venta ON dbo.Cliente.Cod_Cliente = dbo.Venta.Cood_Cliente
                      where dbo.Venta.Fecha_Venta = @fecha_sistema
order by cod_venta desc

SELECT *
FROM Detalle_venta
GO
/****** Object:  StoredProcedure [dbo].[Mostrar_Vuelto]    Script Date: 29/08/2018 18:26:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Mostrar_Vuelto]
@Cood_Cliente int
as
declare @cood_Venta int
set @cood_Venta = (SELECT max(Cod_venta) from Venta where Estado = '1' and Cood_Cliente = @Cood_Cliente)
select vuelto from Venta where Cood_Cliente = @Cood_Cliente and Cod_Venta = @cood_Venta
GO
/****** Object:  StoredProcedure [dbo].[Reporte_Inventario]    Script Date: 29/08/2018 18:26:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Reporte_Inventario]
as


select Cod_Producto, Nombre_Producto, Stock, Precio_unitario, SPrecio_unitario, Limite, 
'ESTADO'= (CASE
WHEN Stock>Limite THEN 'EN STOCK'
WHEN Stock=Limite THEN 'LIMITE'
WHEN Stock<Limite THEN 'HAGA UNA
SOLICITUD'
END)
from Producto
GO
/****** Object:  StoredProcedure [dbo].[Reporte_Meses]    Script Date: 29/08/2018 18:26:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Reporte_Meses]
@PrimerMes nchar(10)

as
declare @mes1 int
declare @ano int
declare @gananciaTotal decimal(18,2)
set @mes1 = (SELECT month(@PrimerMes))
set @ano = (SELECT YEAR(@PrimerMes))
 set @gananciaTotal = (SELECT     SUM(dbo.Detalle_venta.Ganancia) AS GANANCIA_TOTAL
FROM         dbo.Venta INNER JOIN
                      dbo.Detalle_venta ON dbo.Venta.Cod_Venta = dbo.Detalle_venta.Cood_Venta
                      where month(Fecha_Venta) = @mes1 and YEAR(Fecha_Venta) = @ano)
SELECT     dbo.Detalle_venta.Cood_Producto, dbo.Producto.Nombre_Producto, SUM(dbo.Detalle_venta.Ganancia) AS GANANCIAS,SUM(dbo.Detalle_venta.Total) AS TOTAL_PARCIAL, SUM(dbo.Detalle_venta.Cantidad) AS CANTIDAD_VENDIDA, @gananciaTotal AS GANANCIA_TOTAL, @mes1 as MES, @ano AS AÑO
FROM         dbo.Venta INNER JOIN
                      dbo.Detalle_venta ON dbo.Venta.Cod_Venta = dbo.Detalle_venta.Cood_Venta INNER JOIN
                      dbo.Producto ON dbo.Detalle_venta.Cood_Producto = dbo.Producto.Cod_Producto
                      where month(Fecha_Venta) = @mes1 and YEAR(Fecha_Venta) = @ano
                      
                     GROUP BY Detalle_venta.Cood_Producto, Producto.Nombre_Producto, month(Venta.Fecha_Venta)
                     
                   
                    
-- DECLARE @PRODUCTO TABLE(
-- Cod_Producto varchar(40),
-- NombreProducto varchar(50),
-- Cantidad_que_se_Vendio int,
-- Ganancias DECIMAL(18,2),
-- Mes INT,
-- Ano int);

-- INSERT INTO @PRODUCTO (Cod_Producto, NombreProducto, Cantidad_que_se_Vendio, Ganancias, Mes, Ano)
-- SELECT     dbo.producto.Cod_Producto,dbo.Producto.Nombre_Producto, sum(dbo.Detalle_venta.Cantidad) AS Cantidad_Vendida, sum(dbo.Detalle_venta.Ganancia) AS Ganancias, 
--                       month(dbo.Venta.Fecha_Venta) AS Mes, year(dbo.Venta.Fecha_Venta) As Año
-- FROM         dbo.Detalle_venta INNER JOIN
--                      dbo.Producto ON dbo.Detalle_venta.Cood_Producto = dbo.Producto.Cod_Producto INNER JOIN
--                      dbo.Detalle_Ganancia ON dbo.Producto.Cod_Producto = dbo.Detalle_Ganancia.Cod_Producto AND 
 --                     dbo.Detalle_venta.Cood_Producto = dbo.Detalle_Ganancia.Cod_Producto INNER JOIN
   --                   dbo.Venta ON dbo.Detalle_venta.Cood_Venta = dbo.Venta.Cod_Venta 
                   
     --                 WHERE month(dbo.Venta.Fecha_Venta) = @mes1 and dbo.Detalle_venta.Cood_Venta = dbo.Venta.Cod_Venta
                      
-- GROUP BY     dbo.producto.Cod_Producto,dbo.Detalle_Ganancia.Cod_Producto, dbo.Producto.Nombre_Producto, dbo.Venta.Fecha_Venta

-- SELECT *
-- FROM @PRODUCTO
-- GROUP BY Cod_Producto, NombreProducto, Cantidad_que_se_Vendio, Ganancias, mes, ano



GO
/****** Object:  StoredProcedure [dbo].[Reporte_Precios]    Script Date: 29/08/2018 18:26:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Reporte_Precios]
as
select Cod_Producto, Cantidad as Cantidad_Comprada, CantidadDescontada AS Stock, Precio_Compra, Precio1_Venta, Precio2_Venta, Fecha_Compra
from Detalle_Ganancia
WHERE CantidadDescontada>0
GO
/****** Object:  StoredProcedure [dbo].[Reporte_VentaDia]    Script Date: 29/08/2018 18:26:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Reporte_VentaDia]
as
declare @fecha_sistema date
declare @gananciaTotal decimal(18,2)
set @fecha_sistema = (SELECT GETDATE())
 set @gananciaTotal = (SELECT     SUM(dbo.Detalle_venta.Ganancia) AS GANANCIA_TOTAL
FROM         dbo.Venta INNER JOIN
                      dbo.Detalle_venta ON dbo.Venta.Cod_Venta = dbo.Detalle_venta.Cood_Venta
                      where dbo.Venta.Fecha_Venta = @fecha_sistema)
       SELECT     dbo.Detalle_venta.Cood_Producto, dbo.Producto.Nombre_Producto, SUM(dbo.Detalle_venta.Cantidad) AS Cantidad_Vendida,SUM(dbo.DEtalle_venta.Total) AS TOTAL_PARCIAL, SUM(dbo.Detalle_venta.Ganancia) AS Ganancias, @fecha_sistema as Fecha_Venta, @gananciaTotal as GANANCIA_TOTAL
FROM         dbo.Venta INNER JOIN
                      dbo.Detalle_venta ON dbo.Venta.Cod_Venta = dbo.Detalle_venta.Cood_Venta INNER JOIN
                      dbo.Producto ON dbo.Detalle_venta.Cood_Producto = dbo.Producto.Cod_Producto
                      where Fecha_Venta= @fecha_sistema
                      GROUP BY Detalle_venta.Cood_Producto, Producto.Nombre_Producto  
GO
/****** Object:  StoredProcedure [dbo].[Restar_Fondo]    Script Date: 29/08/2018 18:26:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Restar_Fondo]
@Total_a_pagarCompra decimal(18,2)
as
update fondo set Fondo-= @Total_a_pagarCompra
where id_fondo = 1
GO
/****** Object:  StoredProcedure [dbo].[Sumar_Fondo]    Script Date: 29/08/2018 18:26:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Sumar_Fondo]
@Total_a_pagarVenta decimal(18,2)
as
update fondo set Fondo+= @Total_a_pagarVenta
where id_fondo = 1
GO
/****** Object:  StoredProcedure [dbo].[Validar_Administrador]    Script Date: 29/08/2018 18:26:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Validar_Administrador]
@password varchar(50)
as
select * from usuario
where password = @password and acceso ='1'
GO
/****** Object:  StoredProcedure [dbo].[Validar_caja]    Script Date: 29/08/2018 18:26:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Validar_caja]
as
declare @fecha_sistema date
set @fecha_sistema = (SELECT GETDATE())
select * from caja
where Fecha = @fecha_sistema
GO
/****** Object:  StoredProcedure [dbo].[validar_usuario]    Script Date: 29/08/2018 18:26:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[validar_usuario]
@login varchar(50),
@password varchar(50)
as
select * from usuario
where login=@login and password = @password
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Producto"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 147
               Right = 236
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Detalle_venta"
            Begin Extent = 
               Top = 6
               Left = 274
               Bottom = 147
               Right = 472
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Detalle_Ganancia"
            Begin Extent = 
               Top = 6
               Left = 510
               Bottom = 147
               Right = 708
            End
            DisplayFlags = 280
            TopColumn = 1
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_1'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_1'
GO
USE [master]
GO
